.App {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(45deg, rgb(58, 15, 88), #da61ff, green) scroll; */
  /* background: linear-gradient(45deg, #da61ff, green) scroll; */
  background: linear-gradient(45deg, plum, blue);
  background-size: 400% 400%;
  /* animation: gradient_anim 60s ease infinite; */
}

.navbar {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  padding: 10px 25px;
}

.flmdlogo {
  border-radius: 50%;
}

.navbar li, .navbar .navbar-item {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  margin-left: 20px;
  font-family: "San Francisco";
  font-size: 18px;
  overflow-x: scroll;
}

.navbar-left {
  display: flex;
  margin-left: 30px;
  margin-right: auto;
  align-items: center;
}

.navbar-right {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  align-items: center;
}

.navbar .navbar-item:hover {
  /* background-color: white; */
  color: lightblue;
  cursor: pointer;
  border-bottom: 2px solid lightblue;
}

#todoList {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#addTaskForm {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  height: 60px;
}

#taskList {
  margin-top: 25px;
  background: transparent;
  border-radius: 10px;
  padding: 10px;
}

#addTaskForm input {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  /* border-radius: 4px; */
  outline: none;
}

#taskTitle, #taskDescription, #taskDeadline {
  background: transparent;
  border: none;
  margin-bottom: 10px;
  font-size: medium;
  color: white;
}

.form-left {
  margin-right: 25px;
}

#taskTitle, #taskDescription {
  border-bottom: 1px solid white;
  width: 250px;
}

#taskDeadline {
  width: 37px;
  text-align: left;
}

#taskDeadlineDays {
  margin-left: -5px;
}

#taskDeadlineContainer {
  display: flex;
}

#addTaskButton {
  --r: 50;
  --a: 1;
  --radius-percent: calc(calc(var(--r)) * 1%);
  font-size: medium;
  margin-left: 10px;
  background: transparent;
  color: white;
  border: 1px solid;
  border-radius: var(--radius-percent);
  aspect-ratio: var(--a);
}

#addTaskButton:hover {
  cursor: pointer;
  background-color: lightblue;
  transition: 0.2s;
}

.taskdivider {
  width: 90%;
  opacity: 0.5;
  /* border: none; */
}

::placeholder {
  color: white;
}

/* #bottom-spacer {
  height: 25px;
  width: 100%
} */

#emptymessage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

@keyframes gradient_anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}