.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, rgb(58, 15, 88), #da61ff, green);
  background-size: 400% 400%;
  animation: gradient_anim 60s ease infinite;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: left;
  align-items: stretch;
  gap: 2rem;
  padding: 10px 25px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar li {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

[class="navbar-right"] {
  text-align: right;
}

.navbar li:hover {
  color: red;
  cursor: pointer;
}

@keyframes gradient_anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}