.wrapper {
    /**display: flex;**/
    justify-content: center;
    align-items: center;
}

.session-counter {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* .countdown-timer {
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 50%;
    box-shadow: black;

    font-family: "DM Sans";
    font-size: 72px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
*/

.countdown-timer {
    width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: black;
    font-family: "DM Sans";
    --f: 68;
    --f-size: calc(calc(var(--f)) * 1px);
    font-size: var(--f-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    --x: 0;
    --deg: calc(calc(1 - var(--x)) * 360deg);
    background: conic-gradient(lightblue 0deg, lightblue var(--deg), var(--deg), white 360deg);
}

.inner-circle {
    width: 375px;
    aspect-ratio: 1;
    border-radius: 50%;
    /* background: linear-gradient(45deg, rgb(58, 15, 88), #da61ff, green); */
    background: linear-gradient(45deg, blue, plum);
    background-size: 400% 400%;
    /* animation: gradient_anim 60s ease infinite; */
    display: flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.countdown-timer::before {
    content: '';
    position: absolute;
    inset: 6px;
    border-radius: 50%;
    background-color: var(--bg);
}
  
.countdown-timer span {
    position: relative;
    z-index: 1;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: auto;
}

.playbutton {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    background: transparent;
    padding-left: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-family: "DM Sans";
    margin-right: 3%;
    margin-left: auto;
}

.resetbutton {
    width: 100px;
    height: 100px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    background: transparent;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-size: 104px;
    font-weight: 200;
    font-family: "DM Sans";
    margin-left: 3%;
    margin-right: auto;
}

.playbutton:hover, .resetbutton:hover {
    border: none;
    background-color: lightblue;
    cursor: pointer;
    transition: 0.2s;
}

#startBtn {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 20px 0px 20px 40px;
    border-color: transparent transparent transparent #ffffff;
}

#pauseBtn {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-style: double;
    border-width: 0px 0px 0px 37px;
    border-color: #ffffff;
}

#reseticon {
    transform: translateY(-6px);
}

span {
    margin-left: 3px;
    margin-right: 3px;
    color: white;
}

@keyframes gradient_anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}