.timertodolist {
    width: 300px;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    background-color: transparent;
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
}