.task {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background: transparent/**rgb(212, 138, 150)**/;
    color: white;
    width: 500px;
    height: 78px;
    /* max-height: 85px; */
    font-family: "San Francisco";
    overflow-y: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#metadata {
    float: right;
    margin-left: 10px;
}

#taskdeadline {
    margin-top: 5px;
    text-align: center;
}

#buttons {
    display: block;
    margin-top: 5px;
    position: relative;
    bottom: 16px;
}

#completeButton {
    display: block;
    background: transparent;
    width: 73px;
    text-align: center;
    color: white;
    border-radius: 4px;
    border: none;
}

#deleteButton {
    display: block;
    margin-top: 3px;
    width: 73px;
    text-align: center;
    background: transparent;
    color: white;
    border-radius: 4px;
    border: none;
}

#completeButton:hover, #deleteButton:hover {
    cursor: pointer;
    color: white;
    background-color: lightblue;
    transition: 0.2s;
}

#tasktitle {
    margin-top: 5px;
    margin-left: 5px;
}

#taskdateadded {
    margin-top: -18px;
    margin-left: 5px;
}

#taskdescription {
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}